<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>
		<nav class="nav">
			<div class="nav-container">
				<a href="{{ site.baseurl }}/">
					<h2 class="nav-title">{{ site.title }}</h2>
				</a>
				<ul>
					<li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
					<li><a href="{{ site.baseurl }}/">Posts</a></li>
				</ul>
			</div>
		</nav>
		<div class="main">
			<main>
			{{ content }}
			</main>

			<div>
				<ul>
					<li><a href="#">Project 1</a></li>
					<li><a href="#">Project 2</a></li>
				</ul>
			</div>
		</div>

		<footer>
		</footer>
	</body>
</html>
