<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>
		<div class="container">
			<div class="gutters">
				<nav>
					<div class="title">
						<a href="{{ site.baseurl }}/">
							<h2 class="mono">{{ site.title }}</h2>
						</a>
						<small class="mono">{{ site.site_caption }}</small>
					</div>

					<div class="links">
						<a href="https://github.com/bridadan"><img src="/assets/github.png"></a>
					</div>
				</nav>
				<main>
				{{ content }}
				</main>

				<footer>
				</footer>
			</div>
		</div>
	</body>
</html>
